.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  width: 600px;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 25px;
}

.form-header {
  text-align: center;
  margin-bottom: 40px;
}

.form-header .title {
  color: #ff4d00;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.form-header .info {
  font-weight: 500;
  color: #7c7c7c;
}

.input-container {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-bottom: 100px;
}

.input-container div {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.input-container label {
  font-size: 20px;
  margin-bottom: 10px;
}

.input-container input {
  height: 80px;
  border: 1px solid #7c7c7c;
  border-radius: 15px;
  padding: 0 15px;
}

.input-container span {
  text-align: end;
  color: #00178c;
}

.form-footer {
  display: block;
  text-align: center;
  color: #00178c;
}

.form-footer a {
  text-decoration: none;
  color: #00178c;
}

.form-footer a:hover {
  color: #00798c;
}
