<div class="sidebar" [class.closed]="!open">

  <div class="sidebar-header">
    <a routerLink="/admin" class="sidebar-logo">
      <img src="/logo.png" alt="Admin CEPSAC" />
      <h3 class="fw-bold">Admin <span>CEPSAC</span></h3>
    </a>
    <button class="toggle-btn" (click)="toggleSidebar()">
      <i class="bi bi-list"></i>
    </button>
  </div>
  
  <div class="sidebar-profile">
    <h4 class="profile-greeting">Bienvenido</h4>
    <div class="profile-card">
      <div class="profile-avatar">
        <span class="status-indicator"></span>
      </div>
      <span class="profile-name">Administrador</span>
      <span class="profile-status">Última actividad: 07/08/25 8:00pm</span>
    </div>
  </div>

</div>
