<div class="table-responsive shadow-sm rounded">
  <table class="data-table table table-hover bg-white mb-0">
    <thead class="bg-light">
      <tr>
        <th *ngFor="let col of columns" class="py-3 px-4">{{ col.label }}</th>
        <th class="py-3 px-4 text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td *ngFor="let col of columns">
          <ng-container *ngIf="col.key === 'otorgaCertificado'; else textVal">
            <span class="badge" [class.bg-success]="item[col.key]" [class.bg-secondary]="!item[col.key]">
              {{ item[col.key] ? "Sí" : "No" }}
            </span>
          </ng-container>
          <ng-template #textVal>{{ item[col.key] }}</ng-template>
        </td>
        <td>
          <app-action-buttons-admin (edit)="edit.emit(item)" (delete)="delete.emit(item)" (view)="view.emit(item)">
          </app-action-buttons-admin>
        </td>
      </tr>
    </tbody>
  </table>
</div>